<div class="container-fluid p-0 m-0 mt-5">
    <section id="social" class="position-relative">

        <app-tirolina></app-tirolina>

        <div class="content position-relative" style="padding-bottom: 200px">
            <app-breadcrumb [menu]="menu"></app-breadcrumb>
            <img src="./../../../../assets/img/portafolio/text_social.png" alt="" class="title mt-5">
            <span class="line mt-5"></span>
            <div class="grid" *ngFor="let social of socials; index as i">

                <div class="row social-content p-4 p-lg-0" 
                    *ngIf="i % 2 != 0"
                    [ngStyle]="{ 'margin-top': i == 0 ? '0px': '500px'}"
                    >
                    <div class="col-12 col-lg-8 box">

                        <div class="scene">
                            <div class="content-carrousel">
                                <figure><img src="assets/img/portafolio/social/nutricel/carousel1.png" alt=""></figure>
                                <figure><img src="assets/img/portafolio/social/nutricel/carousel2.png" alt=""></figure>
                                <figure><img src="assets/img/portafolio/social/nutricel/carousel3.png" alt=""></figure>
                                <figure><img src="assets/img/portafolio/social/nutricel/carousel4.png" alt=""></figure>
                                <figure><img src="assets/img/portafolio/social/nutricel/carousel5.png" alt=""></figure>
                                <figure><img src="assets/img/portafolio/social/nutricel/carousel6.png" alt=""></figure>
                            </div>
                        </div>

                        <carousel class="m-auto d-none d-lg-block" 
                                [arrowsOutside]="true" 
                                [cellsToShow]="3" 
                                [height]="400"
                                [images]="social.carousel" 
                                [loop]="true" 
                                [autoplay]="true" 
                                style="position: relative; max-width: 800px; margin-top:50px !important;">
                        </carousel>

                        <carousel
                                class="m-auto d-block d-lg-none" 
                                [arrowsOutside]="true" 
                                [cellsToShow]="1" 
                                [height]="350"
                                [images]="social.carousel" 
                                [loop]="true" 
                                [autoplay]="true" 
                                style="position: relative; max-width: 150px; margin-top:50px !important;">
                        </carousel>
                        
                        
                        <div class="box-yellow box-yellow-left"></div>
                    </div>
                    <div class="col-12 col-lg-4 target">
                        <strong class="text-left">{{ social.marca }} </strong>
                        <span class="text-left">{{ social.fecha}}</span>
                        <h5 class="text-left mt-2">{{ social.proyecto }}</h5>
                        <p class="text-left">
                            {{ social.text}}
                        </p>
                    </div>
                </div>

                <!-- REVERSE  -->
                <div 
                class="row social-content p-4 p-lg-0" 
                *ngIf="i % 2 == 0"
                [ngStyle]="{ 'margin-top': i == 0 ? '150px': '500px'}"
                >
                    <div class="col-12 col-lg-4 target">
                        <strong class="text">{{ social.marca }} </strong>
                        <span class="text">{{ social.fecha}}</span>
                        <h5 class="text mt-2">{{ social.proyecto }}</h5>
                        <p class="text">
                            {{ social.text}}
                        </p>
                    </div>
                    <div class="col-12 col-lg-8 box">
                        <div class="scene">
                            <div class="content-carrousel">
                                <figure><img src="assets/img/portafolio/social/nutricel/carousel1.png" alt=""></figure>
                                <figure><img src="assets/img/portafolio/social/nutricel/carousel2.png" alt=""></figure>
                                <figure><img src="assets/img/portafolio/social/nutricel/carousel3.png" alt=""></figure>
                                <figure><img src="assets/img/portafolio/social/nutricel/carousel4.png" alt=""></figure>
                                <figure><img src="assets/img/portafolio/social/nutricel/carousel5.png" alt=""></figure>
                                <figure><img src="assets/img/portafolio/social/nutricel/carousel6.png" alt=""></figure>
                            </div>
                        </div>
                        
                        <carousel class="m-auto d-none d-lg-block" 
                                [arrowsOutside]="true" 
                                [cellsToShow]="3" 
                                [height]="400"
                                [images]="social.carousel" 
                                [loop]="true" 
                                [autoplay]="true" 
                                style="position: relative; max-width: 800px; margin-top:50px !important;">
                        </carousel>

                        <carousel
                                class="m-auto d-block d-lg-none" 
                                [arrowsOutside]="true" 
                                [cellsToShow]="1" 
                                [height]="350"
                                [images]="social.carousel" 
                                [loop]="true" 
                                [autoplay]="true" 
                                style="position: relative; max-width: 150px; margin-top:50px !important;">
                        </carousel>
                        
                        <div class="box-yellow box-yellow-right"></div>
                    </div>
                </div>
            </div>
            <app-breadcrumb [menu]="menu"></app-breadcrumb>
        </div>


    </section>
</div>
