.carousel-control{
    background-color: black !important;
    color: white;
    opacity: 1;
    width: 45px;
    height: 50px;
    transform: scale(0.5);
    font-size: 15px;
}


.container-fluid{
    display: block;
    padding-bottom: 300px !important;
}

#section .row{
    max-width: 800px;
    margin:auto;
    margin-top:200px;
}



.title{
    display: block;
    position: relative;
    max-width: 600px;
    background-color: var(--bg-white);
    margin:auto;
    z-index: 20;
    top:50px;
}

.line{
    max-width: 800px;
    margin:auto;
    left:0px;
    right:0px;
}

.carousel{
    position: relative;
    width: 100%;
}

.box-yellow .text{
    font-family: 'Poppins';
    font-size: 15px !important;
}

.box-yellow .text p{
    margin:0 !important;
}

.box-yellow{
    position: absolute;
    display: block;
    width: 300px;
    height: 200px;
    background-color: var(--bg-yello);
    position: absolute;
    top:-50px;
}


.box-yellow-right{
    right: -100px;
}

.box-yellow-left{
    left:-100px;
}


@media only screen and (max-width:968px){
    .title{
        max-width: 300px;
    }

    .grid-right .box-yellow{
        bottom: -125px !important;
    }

    .box-yellow{
        bottom:-100px !important;
        min-width: 290px !important;
        z-index: 150 !important;
    }
}


