<section id="first">

    <!-- /* CHECKES BUTTON */ -->
    <div class="button-change" id="button" (click)="activate()">
        <div class="change">
        </div>
        <div class="check-radius">
        </div>
    </div>

    <div class="bg">
        <img src="./assets/img/background/bg1.png" alt="" class="background1">
        <img src="./assets//img/background/semicirculo.png" alt="" class="semicircletop">
        <img src="./assets/img//background/circle.png" alt="" class="circle-bg">
        <img src="./assets/img/background/circleball.png" alt="" class="circle-ball-top">
        <img src="./assets/img/background/semicirculoabajo.png" alt="" class="semicirclebottom">
        <img src="./assets/img/background/circle.png" alt="" class="circle-bg-2">
        <img src="./assets/img/background//circleball2.png" alt="" class="circle-ball-bottom">
        <img src="./assets/img/background/bg2.png" alt="" class="background3">
        <img src="./assets/img/background2.png" class="background2" id="background2">
    </div>

    <div class="row p-0 m-0">
        <div class="col-0 col-xl-7 d-none d-xl-inline">
            <div id="animation">
                <div class="content-curva">
                    <img src="./assets/img/curve-yellow.png" class="curva-yellow" id="curva-yellow">
                    <img src="./assets/img/curva.png" class="curva">
                </div>

                <div class="semicurva-content">
                    <img src="./assets/img/semicurve-blue.png" class="semicurva-blue" id="semicurva-blue">
                    <img src="./assets/img/semicurva.png" class="semicurva" id="semicurva">
                </div>
               
                <div class="content-rellena" id="curva-rellena">
                    <div class="curva-rellena-blue" id="curva-rellena-blue"></div>
                    <div class="curva-rellena"></div>
                </div>

                <div class="content-tilde" id="tilde">
                    <div class="tilde"></div>
                    <div class="tilde-relleno" id="tilde-relleno"></div>
                </div>
                
               
                
                <img src="./assets/img/faro.png" class="faro" id="faro">
                
                <img src="./assets/img/pacman.png" class="pacman">
                
                
                <div class="linea-central" id="line-central"></div>
                <div class="line-faro-down" id="line-faro-down"></div>
                <div class="line-top" id="line-top"></div>
                <div class="line-middle" id="line-middle"></div>
                <div class="cuerda" id="cuerda"></div>
                
                <img src="./assets/img/circle.png" id="circle1" class="circle-faro">
                <img src="./assets/img/circle.png" id="circle3" class="circle-middle-right">
                <img src="./assets/img/circle.png" id="circle4" class="circle-middle-left">
                <img src="./assets/img/circle.png" id="circle2" class="circle-top">
            </div>
        </div>
        <div class="col-12 col-xl-5 position-relative">
            <img src="./assets/img/la-maquina-logo.svg" id="logoBanner">
        </div>
    </div>
</section>