<div class="container-fluid p-0 m-0">
    <section id="social" class="position-relative">
        <div class="content position-relative ">
            <app-tirolina></app-tirolina>
            <app-breadcrumb [menu]="menu"></app-breadcrumb>
            <img src="./assets/img/BigCircle.png" alt="" id="img-bigCircle" class="d-none d-lg-inline-block">
            <div class="grid" *ngFor="let web of webs; index as i">
                <div class="row mt-2">
                    <div class="col-12 mt-5">
                        <span class="line"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-8">
                        <div class="img">
                            <img src="assets/img/portafolio/web/{{ web.img1 }}" alt="{{ web.img1 }}" 
                            data-toggle="modal" 
                            data-target=".bd-example-modal-lg"
                            (click)="openModal(web.preview)"
                            >
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="row mt-0">
                            <div class="col-12 mt-4 mb-4 mt-lg-0 mb-lg-0" >
                                <div class="img float-img">
                                    <img src="assets/img/portafolio/web/{{ web.img2 }}" alt="{{ web.img2 }}">
                                </div>
                            </div>
                            <div class="col-12 position-relative p-5 p-lg-0 mt-lg-0">
                                <div class="text target ml-3">
                                    <h5>{{ web.title }}</h5>
                                    <p class="mb-1 mt-1">{{ web.project }}</p>
                                    <span style="margin-top: 10px !important">{{ web.country }}</span>
                                </div>
                                <div class="box-yellow"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<div 
style="background-color: rgba(0,0,0,.8);"
class="modal fade bd-example-modal-lg" 
tabindex="-1" 
role="dialog" 
aria-labelledby="myLargeModalLabel" 
aria-hidden="true"
(click)="closeModal()"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body p-0">
                <ngx-doc-viewer
                [url]="pdfSrc"
                viewer="url"
                style="width:100%;height:1000px"
                ></ngx-doc-viewer>
            </div>
        </div>
    </div>
</div>

