
<div class="container-fluid p-lg-5 m-0 position-relative" style="min-width: 300px">
    <section id="section" class="position-relative pt-5">
        
        <app-tirolina></app-tirolina>
        
        <div class="content p-4 p-lg-0">
            <div class="row">
                <div class="col-12">
                    <img src="assets/img/team/title_quienes_somos.svg" alt="" class="w-100 mb-5 mt-5" style="max-width: 250px;">
                    <p class="text-white" style="text-align: justify;">La Máquina es una agencia 360 especializada en Branding y Digital Content.
                        Está conformada por  un equipo multifuncional, compuesto por expertos en diseño, branding, publicidad y redacción creativa, creación de contenidos para social media, edición de video, motion graphics, publicidad y programación web; con una estructura versátil que abarca y suma gente venezolana y de diversas latitudes del planeta.
                        ¿Nuestro propósito en común?  Crear campañas, contenidos y estrategias que acerquen a nuestros clientes a sus clientes soñados, que nos llenen de alegría, orgullo y que nos permitan seguir trabajando con gente brillante cuyo talento y visión nos impulse a crecer profesionalmente.</p>
                    <img src="assets/img/team/title_team.svg" alt="" class="w-100 mb-5 mt-5" style="max-width: 170px;">
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-4 mt-5 mb-5" *ngFor="let person of team; index as i">
                    <div class="target" style="background-image: url('./assets/img/team/{{person.crazy_picture}}.jpg');">
                        <img src="./assets/img/team/{{person.picture}}.jpg" alt="" class="photo">
                        <div *ngIf="(i+1) % 3 === 0">
                            <img src="./assets/img/team/circle.png" alt="" class="circle">
                            <img src="./assets/img/team/border.png" alt="" class="bar">
                        </div>
                        <div class="bg"></div>
                        <h2>{{person.name}}</h2>
                        <div class="text">
                            <h5>{{person.cargo}}</h5>
                            <p>{{person.copy_1}}</p>
                            <p class="copy-hover">{{ person.copy_2}}</p>
                            <ul class="social">
                                <li>
                                </li>
                                <li>
                                </li>
                                <li>
                                </li>
                                <li>
                                </li>
                                <li>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </section>
</div>