<footer class="m-0 p-5 d-none d-lg-block">
    <div class="row p-0 m-0">
        <div class="col-12 col-lg-3">
            <h5>CONTACTO</h5>
            <p class="text-uppercase">info@lamaquinaagency.com</p>

            <h5>OFICINA</h5>
            <p class="text-uppercase">58 412-1728731</p>
        </div>
        <div class="col-12 col-lg-6">
            <h5 class="text-center">SIGUENOS</h5>
            <ul>
                <li>
                    <a href="https://vm.tiktok.com/ZM8vCcgX1/">
                        <img src="./assets/img/footer/icon1.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="https://wa.me/message/G43APA4SACP3D1">
                        <img src="./assets/img/footer/icon2.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/lamaquina.agency/?hl=es">
                        <img src="./assets/img/footer/icon3.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/lamaquina.agency/?ref=pages_you_manage">
                        <img src="./assets/img/footer/icon4.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="https://www.behance.net/LaMaquinaAgency">
                        <img src="./assets/img/footer/icon5.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/user/TheAnaperaza">
                        <img src="./assets/img/footer/icon6.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/company/lamaquinaagency">
                        <img src="./assets/img/footer/icon7.png" alt="">
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-12 col-lg-3">
            <h5>LOCACIÒN</h5>
            <p>Carrea 19 con calles 14 y 15, <br>edificio Alexandrovich piso 1. Barquisimeto, Venezuela.</p>
        </div>
    </div>
    <span class="text-center">Todos los derechos reservados. La Maquina Agency 2021</span>
</footer>

<footer class="m-0 pt-5 pb- d-inline-block d-lg-none">
    <div class="row p-0 m-0">
        <div class="col-12 col-lg-6 mb-5">
            <h5 class="text-center">SIGUENOS</h5>
            <ul>
                <li>
                    <a href="https://vm.tiktok.com/ZM8vCcgX1/">
                        <img src="./assets/img/footer/icon1.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="https://wa.me/message/G43APA4SACP3D1">
                        <img src="./assets/img/footer/icon2.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/lamaquina.agency/?hl=es">
                        <img src="./assets/img/footer/icon3.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/lamaquina.agency/?ref=pages_you_manage">
                        <img src="./assets/img/footer/icon4.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="https://www.behance.net/LaMaquinaAgency">
                        <img src="./assets/img/footer/icon5.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/user/TheAnaperaza">
                        <img src="./assets/img/footer/icon6.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/company/lamaquinaagency">
                        <img src="./assets/img/footer/icon7.png" alt="">
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-12">
            <h5 class="text-center">CONTACTO</h5>
            <p class="text-center text-uppercase">info@lamaquinaagency.com</p>

            <h5 class="text-center">OFICINA</h5>
            <p  class="text-center">+58 414 1728731</p>
        </div>
        <div class="col-12">
            <h5 class="text-uppercase">Ubícanos</h5>
            <p>Carrea 19 con calles 14 y 15, <br>edificio Alexandrovich piso 1. Barquisimeto, Venezuela.</p>
        </div>
    </div>
    <span class="pb-5 text-center">Todos los derechos reservados. La Maquina Agency 2021</span>
</footer>